:root {
  --color: #94a3b8;
  --bodyBackground: #020617;
  --background: #111827;
  --border: 1px solid #1f2937;
  --boxShadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --acvtiveColor: #4c1d95;
  --hoverColor: rgba(76, 29, 149, 0.09);
  --placeHolderColor: #64748b;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  background: var(--bodyBackground);
}
.select_box {
  width: 300px;
  border-radius: 5px;
  border: var(--border);
  padding: 0 20px;
  height: 45px;
  position: relative;
  background-color: var(--background);
  color: var(--color);
  box-shadow: var(--boxShadow);
  cursor: pointer;
}
.placeholder {
  color: var(--placeHolderColor);
}
.select_box_list {
  position: absolute;
  width: 100%;
  background: var(--background);
  top: 50px;
  left: 0;
  box-shadow: var(--boxShadow);
  border: var(--border);
  border-radius: 5px;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  transform-origin: 100% 0%;
  scale: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
.select_box_list.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
}
.select_box_list::-webkit-scrollbar {
  display: none;
}

.select_box_input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
}
.search_box_container {
  padding: 10px;
  position: sticky;
  top: 0;
  background: inherit;
}
.search_box {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  padding: 0 10px;
  border-radius: 5px;
  border: var(--border);
}
.search_input {
  width: 90%;
  background: transparent;
  border: none;
  color: var(--color);
  font-size: 14px;
}
.search_input:focus {
  outline: none;
}
.search_input::placeholder {
  color: var(--placeHolderColor);
}
.icon > svg {
  transition: all 0.5s;
  transform: rotate(0deg);
}
.icon.active > svg {
  transform: rotate(180deg);
}
.list_items {
  padding: 0 10px;
}
.list_items ul {
  list-style: none;
}
.list_items ul li {
  padding: 10px;
  transition: all 0.5s ease;
  margin-bottom: 5px;
  color: var(--color);
}
.list_items ul li.active {
  background-color: var(--acvtiveColor);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
}
.list_items ul li:hover {
  background-color: var(--hoverColor);
  border-radius: 5px;
}
@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
